.adaptive-virtual-list {
    overflow-y: scroll;
    contain: layout;

    &__empty-space {
        contain: layout;
    }

    // &__item-wrapper {
    //     position: absolute;
    //     width: 100%;
    // }
}