.virtual-list {
    overflow-y: scroll;
    position: relative;

    &__runway {
        position: relative;
    }

    &__item-wrapper {
        position: absolute;
        width: 100%;

        &--hidden {
            visibility: hidden;
        }
    }
}